In [30]:
data=[{'Prod limit/day':6000,'Store (cubic feet)':40,'min sale/week':5000,'demand':10000,'Net profit':4},
      {'Prod limit/day':3000,'Store (cubic feet)':210,'min sale/week':4000,'demand':8000,'Net profit':10},
      {'Prod limit/day':5000,'Store (cubic feet)':45,'min sale/week':'-','demand':15000,'Net profit':6}]

df=pd.DataFrame(data,index=['iPod','iPad','iPhone'])
df

        Prod limit/day  Store (cubic feet) min sale/week  demand  Net profit
iPod              6000                  40          5000   10000           4
iPad              3000                 210          4000    8000          10
iPhone            5000                  45             -   15000           6

In [31]:
import numpy as np
import cvxpy as cp
import pandas as pd
days=5


A=df.to_numpy()

x=cp.Variable((3,1))

Produced_per_day = cp.multiply(np.reshape(A[:,0],(len(A[:,0]),1)),x)
Produced_per_week = days*Produced_per_day


Objective= cp.Maximize(A[:,4].T@Produced_per_week)

#Constraints
proportion=[sum(x)<=1]
positive=[x>=0]
storage=[sum(cp.multiply(Produced_per_week , np.reshape(A[:,1],(3,1))/1000)) <= 6000]
demand=[ Produced_per_week <= np.reshape(A[:,3],(3,1)) ]
minSale=[Produced_per_week[0:2,:]>=np.reshape(A[0:2,2],(2,1))]



constraints=   storage  + demand + positive +proportion + minSale

prob = cp.Problem(Objective, constraints) 
prob.solve()
print( "Value of net profit is", prob.solve())
print("proportion values are", x.value)

Value of net profit is 145000.00011527355
proportion values are [[0.16666667]
 [0.4203366 ]
 [0.41299673]]